$color-fuego: #460809;
$color-secundario: #FAE9E6;
$color-texto-claro: whitesmoke;
$color-enlace-secundario: #460809;

$font-stack-secundaria: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$font-stack-titulos: Georgia, 'Times New Roman', Times, serif;
$font-stack-especial: "Italianno", cursive;
$font-targaryen: Georgia, 'Times New Roman', Times, serif;

@mixin flex-layout($padding: 0, $gap: 0, $margin: 0) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @if $padding != 0 {
        padding: $padding;
    }
    @if $gap != 0 {
        gap: $gap;
    }
    @if $margin != 0 {
        margin: $margin;
    }
}

@mixin line-spacing($spacing: 1.5) {
    line-height: $spacing;
}

body {
    margin: 0;
    padding: 0;
    background-color: $color-secundario;
    @include line-spacing(1.5)
}

img {
    width: 125px;
}

header {
    background-color: $color-fuego;
    @include flex-layout(10px 20px);
    justify-content: space-around;
    flex-wrap: nowrap;

    p {
        color: $color-texto-claro;
        text-decoration: none;
        font-size: 55px;
        font-family: $font-stack-especial;
        opacity: 0;
        animation: myAnimation 5s infinite;
}

@keyframes myAnimation {
  0% { opacity: 0;}
  100% { opacity: 1;}
    }

    nav ul {
        @include flex-layout(0, 30px, 0);
        list-style: none;
        font-family: Arial, Helvetica, sans-serif;
        flex-wrap: nowrap;
    }
}

.btn {
    background-color: $color-fuego;
    font-size: 15px;
    padding: 10px;
}

.button a {
    color: $color-texto-claro;
    text-decoration: none;
    
  }

.Fireandblood {
    @include flex-layout(20px, 30px);
    flex-wrap: nowrap;
}

.enlace {
    color: $color-texto-claro;
    text-decoration: underline;
}

main {
    @include flex-layout(0, 0, 55px);
    flex-wrap: wrap;
    font-family: $font-targaryen;

    h1 {
        text-align: center;
        text-decoration: none;
        font-family: $font-stack-titulos;
    }
}

.logot {
    width: 200px;
    
}

//section 1

.section1 {
    @include flex-layout(0, 30px, 50px);
    flex-wrap: nowrap;
    font-family: $font-targaryen;

    h2 {
        text-decoration: none;
        font-family: $font-targaryen;
    }

    .otrosmiembros {
        color: $color-fuego;
        text-decoration: underline;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        font-size: 20px;
    }
}

// section 2

.section-2 {
    h3 {
        text-decoration: none;
        color: black;
        text-align: center;
    }

    nav ul {
        @include flex-layout(50px, 50px, 50px);
        justify-content: space-around;
        flex-wrap: wrap;
        list-style: none;

        a {
            @include flex-layout(0, 15px);
            justify-content: center;
            color: $color-fuego;
            text-decoration: none;
            font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
            font-size: 20px;

        }
    }
}

// section 3

.section-3 {
    h4 {
        text-align: center;
        font-family: $font-stack-titulos;
        text-decoration: none;
    }

    nav p {
        font-family: $font-targaryen;
        flex-wrap: wrap;
    }

    div {
        @include flex-layout(0, 0, 55px);
        justify-content: center;
        flex-wrap: nowrap;
    }

    .archimaest {
        font-family: $font-targaryen;
        color: $color-fuego;
        text-decoration: underline;
        font-size: 20px;
    }
}

// footer

footer {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-align: center;
    background-color: $color-fuego;
    color: $color-texto-claro;

    p {
        margin: 0;
        padding: 0rem;
    }
}

// Aegon y Balerion

.raenhysaegon {
    color: $color-fuego;
    font-size: 20px;
}

.aegonyhermanas {
    width: 150px;
}

.flex1 {
    h1 {
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        font-size: 25px;
    }
}

.Balerionterrornegro {
    @include flex-layout(0px, 0px, 0px);
    width: 150px;
}

.camposdefuego {
    display: flex;
    flex-direction: column;

    h3{
        text-align: center;
        font-size: 15px
    }

    p{
        font-size: 15px;
        font-family: $font-targaryen;
    }
}
.baleriont {
    @include flex-layout(0px, 20px, 0);
    flex-wrap: wrap;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-decoration: none;
}

.Volveraegon {
    color: $color-fuego;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 20px;
    text-decoration: underline;
}

// Visenya y Vaghar

.visenyatargaryenn {
    background-color: $color-fuego;
    @include flex-layout;

    .iniciov {
        color: $color-texto-claro;
        text-decoration: none;
        font-size: 20px;
    }

    .reinavisenya img {
        width: 175px;
    }
}

.visenyaintro {
    @include flex-layout(15px, 15px, 0px);

    h1 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 25px;
    }
}

.vagharDragon {
    width: 150px;
}

.Vaghargreen {
    @include flex-layout(10px, 15px, 0px);

    h2 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        text-decoration: none;
    }
}

.volvervisenya {
    color: $color-fuego;
    text-decoration: underline;
    font-family: $font-targaryen;
    font-size: 20px;
    padding: 20px;
}


// Raenhys y meraxes

.raenhystargaryen {
    @include flex-layout;

    .inicioraenhys {
        color: $color-texto-claro;
        font-family: $font-targaryen;
        text-decoration: underline;
        font-size: 10px;
    }

    .raenhysportada {
        width: 175px;
    }
}

.rhaenysmain {
    @include flex-layout(0px, 15px, 0px);

    h1 {
        font-size: 25px;
    }
    
    .enlacehermanos {
        color: $color-fuego;
        font-size: 20px;
    }
}

.dragonmeraxes {
    @include flex-layout(0px, 30px, 0px);
    width: 150px;
}

.meraxesD {
    @include flex-layout(0px, 10px, 0px);

    h2 {
        text-decoration: none;
        font-family: $font-targaryen;
        font-size: 20px;
    }
}

.sotoinfierno {
    @include flex-layout(0px, 0px, 0px);
    display: flex;
    flex-direction: column;

    h3{
        font-size: 15px
    }

    p{
        font-size: 15px;
        font-family: $font-targaryen;
        @include line-spacing(1.5)
    }
}


.volverraenhys {
    color: $color-fuego;
    text-decoration: underline;
    font-family: $font-targaryen;
    font-size: 20px;
    padding: 20px;
}

//

@media (min-width: 370px) {
    header {
        flex-direction: column;
    }
    .Fireandblood {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    
        p {
            margin: 0;
        }
    }
    .section1 {
        flex-direction: column;
    }
    .section-2 {
        flex-direction: column;
        justify-self: center;
        text-align: center;
        gap: 30px;
    }
    .button {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}


@media (min-width: 768px) {
    .button {
        flex-direction: row;
        gap: 10px;
    }
}

@media (min-width: 1024px) {
    header {
        flex-direction: row;
    }
    .Fireandblood {
        flex-direction: row;
    }
}