$color-fuego: #460809; 
$color-secundario: #FAE9E6; 
$color-texto-claro: whitesmoke; //
$color-enlace-secundario: #460809; 

// LETRAS
$font-stack-secundaria: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$font-stack-titulos: Georgia, 'Times New Roman', Times, serif;
$font-stack-especial: "Italianno", cursive; 



$font-targaryen: Georgia, 'Times New Roman', Times, serif;  

body {
  margin: 0;
  padding: 0;
  background-color: #FAE9E6;
}

img {
  width: 125px;
}

.sticky-container {
  position: sticky;
  top: 10px;
  padding: 10px;
}

header {
  background-color:$color-fuego ;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px 50px;
}

header p {
  color:$color-texto-claro;
  text-decoration: none;
  font-size: 55px;
  font-family: "Italianno", cursive;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.btn {
  background-color: $color-fuego;
  font-size: 15px;
  padding: 10px;
}

.button a {
  color:$color-texto-claro;
  text-decoration: none;
}

.Fireandblood {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 20px;
  gap: 30px;
}

.enlace {
  color:$color-texto-claro;
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 55px;
  font-family: $font-targaryen
}

main h1 {
  text-align: center;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.section1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 50px;
  font-family: $font-targaryen;
  gap: 30px;
}

.section1 h2{
  text-decoration: none;
  font-family: $font-targaryen;

}

.section1 .otrosmiembros {
  color: $color-fuego;
  text-decoration: underline;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}

.section-2 h3 {
  text-decoration: none;
  color: black;
  text-align: center;
  font-family: fonttar;
}

.section-2 nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
  gap: 20px;
  list-style: none;
}

.section-2 nav ul a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 15px;
  color: $color-fuego;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}

.section-3 h4 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
}

.section-3 nav p {
  font-family: $font-targaryen;
  flex-wrap: wrap;
}

.section-3 div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 55px;
}

.section-3 .archimaest {
  font-family: $font-targaryen;
  color: $color-fuego;
  text-decoration: underline;
  font-size: 20px;
}

footer {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  background-color: $color-fuego;
  color:$color-texto-claro;
}

footer p {
  margin: 0;
  padding: 1rem;
}

// Celulares

@media (min-width: 370px) {
  header {
    flex-direction: column;
  }
  .Fireandblood {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .Fireandblood p {
    margin: 0;
  }
  .section1 {
    display: block;
  }
  .section-2 {
    display: block;
    justify-self: center;
    text-align: center;
    gap: 30px;
  }
  .button {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

// Tablets

@media (min-width: 768px) {
  .button {
    flex-direction: row;
    gap: 10px;
  }
}

// Pc

@media (min-width: 1024px) {
  header {
    flex-direction: row;
  }
  .Fireandblood {
    flex-direction: row;
  }
  

// Aegon el conquistador

}
.aegonconquistador header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.aegonconquistador .inicioaegon {
  color:$color-texto-claro;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}

.aegonconquistador .raenhysaegon {
  color: $color-fuego;
  font-size: 20px;
}

.aegonconquistador .aegonyhermanas {
  width: 200px;
}

.aegonconquistador .flex1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0;
  padding: 20px;
  gap: 30px;
}

.aegonconquistador .flex1 h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}

.aegonconquistador .Balerionterrornegro {
  width: 200px;
}

.aegonconquistador .baleriont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-decoration: none;
  margin: 0;
  padding: 20px;
  gap: 20px;
}

.aegonconquistador .baleriont h2 {
  text-decoration: underline;
}

.aegonconquistador .Volveraegon {
  color: $color-fuego;
  text-decoration: underline;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}

.aegonconquistador .aegonf {
  margin: 0;
  padding: 0;
  color:$color-texto-claro;
  text-align: center;
}

@mixin flex-layout($padding: 0, $gap: 0, $margin: 0) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @if $padding != 0 {
        padding: $padding;
    }
    @if $gap != 0 {
        gap: $gap;
    }
    @if $margin != 0 {
        margin: $margin;
    }
}


.visenyatargaryenn {
    background-color: $color-fuego; 
    @include flex-layout; 

    .iniciov {
        color:$color-texto-claro; 
        text-decoration: none;
        font-size: 20px;
    }

    .reinavisenya {
        width: 200px;
    }
}

.visenyaintro {
    @include flex-layout(15px, 15px, 0px); 

    h1 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 40px;
    }
}

.vagharDragon {
    width: 250px;
}

.Vaghargreen {
    @include flex-layout(10px, 15px, 0px); 

    h2 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 30px;
        text-decoration: none;
    }
}

.volvervisenya {
    color: $color-fuego;
    text-decoration: underline;
    font-family: $font-targaryen;
    font-size: 20px;
    padding: 20px;
}

footer {
    color: $color-texto-claro;
    text-align: center;
}



// RAENHYS Y MERAXES


@mixin flex-layout($padding: 0, $gap: 0, $margin: 0) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @if $padding != 0 {
        padding: $padding;
    }
    @if $gap != 0 {
        gap: $gap;
    }
    @if $margin != 0 {
        margin: $margin;
    }
}



.raenhystargaryen {
    @include flex-layout;

    .inicioraenhys {
        color: $color-texto-claro;
        font-family: $font-targaryen;
        text-decoration: underline;
        font-size: 10px;
    }

    .raenhysportada {
        width: 175px;
    }
}

.rhaenysmain {
  
    @include flex-layout(15px, 15px, 0px);
}

.enlacehermanos {
    color: $color-fuego;
    font-size: 20px;
}

.dragonmeraxes {
    width: 250px;
}

.meraxesD {
    
    @include flex-layout(15px, 15px, 0px);

    h2 {
        text-decoration: none;
        font-family: $font-targaryen;
    }
}

.volverraenhys {
    color: $color-fuego;
    text-decoration: underline;
    font-family: $font-targaryen;
    font-size: 20px;
    padding: 20px;
}



/*# sourceMappingURL=index.scss.map */
