body{
    background-color:#FAE9E6;
}

header{
    background-color:#460809 ;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding-right: 50px;
    padding-left: 50px;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    gap: 30px;
    
}

nav ul .enlace{
    color: whitesmoke;
    text-decoration: none;
    
}

img{
    width: 200px;

}

.sticky-container{
    position: sticky;
    top: 10px;
    padding: 10px;
}


/* Contenido MAIN */

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 55px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    flex-wrap: wrap;
}

main h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

/* Contenido SECTION1 */

.section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    gap: 30px;
}

.section1 h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Contenido SECTION CONTAINER */

.section-container{
    display: flex;
    width: 300px;

}

.item{
    width: 200px;
    padding: 10px;
    background-color: #460809;
    margin: 10px;
}



.aegon1-aegon{
    text-align: center;
}

.balerionb-aegon{
    text-align: left;
}

.vaghar-visenya{
    text-align: left;
}

.name-visenya{
    text-align: left;
}

.raenhys3-raenhys{
    text-align: center;
}

    


